<h1>
  {{title}}
</h1>
<hr>
<ul>
  <li [routerLinkActive]= "'active'" [routerLinkActiveOptions] = "{exact: true}"><a [routerLink]="['/layout']">Home</a></li>
  <li [routerLinkActive] = "'active'" [routerLinkActiveOptions] = "{exact: true}"><a [routerLink]="['/page2']">Page2</a></li>
  <!--Example2
  <li><a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions] = "{exact: true}">Home</a></li>
  <li><a [routerLink]="['/page2']" routerLinkActive = "active" [routerLinkActiveOptions] = "{exact: true}">Page2</a></li>-->
  <!--Example Other way-->
  <!--<li><a routerLink="/">Home</a></li>
  <li><a routerLink="/page2">Page2</a></li>-->
</ul>
<router-outlet></router-outlet>
